*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyleSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
app/release
upload.keystore
shrnq.json
play-publisher-service-account.json
