<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.hannesstruss.shronq"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  <application
    android:label="Shronq Debug"
    tools:replace="label"
    />
</manifest>
